<div>
  <div class="detalhe-container">
    <div class="filme-detalhe">
      <div>
        <h2>Titulo do filme</h2>
      </div>

      <div class="container-info">
        <img
          src="https://i.pinimg.com/550x/3c/d7/02/3cd70273aec5a379ad2072c9e4ab6469.jpg"
        />
        <div class="sobre-filme">

          <!--  <GenreList [genres]="genres"></GenreList> -->
          <p>Descricao do filme</p>
        </div>

        <aside class="info-filme">
          <h3>Mais informações</h3>
          <ul>
            <li>Ano do filme</li>
            <li>Nota do filme</li>
            <li>Gênero</li>
            <li>*</li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
</div>
