<div>
  <div class="detalhe-container">
    <div class="filme-detalhe">
      <div>
        <h2>Titulo do filme</h2>
      </div>

      <div class="container-info">
        <img
          src="https://i.pinimg.com/550x/3c/d7/02/3cd70273aec5a379ad2072c9e4ab6469.jpg"
        />
        <div class="sobre-filme">
          <p class="year">2024</p>
          <p class="filme-nota">Nota do filme</p>
          <!--  <GenreList [genres]="genres"></GenreList> -->
          <p>text text text text text aaaaaaa</p>
        </div>

        <aside class="elenco-filme">
          <h3>Elenco</h3>
          <ul>
            <li>Ator 1</li>
            <li>Ator 2</li>
            <li>Ator 3</li>
            <li>Ator 4</li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
</div>
