/* You can add global styles to this file, and also import other style files */

html, body {

  height: 100%;
  box-sizing: 0;

}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
  cursor: pointer;
  text-decoration: none;
}

.btn {
    display: inline-block;
    background: #e50914;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
  }
  .btn:focus {
    outline: none;
  }
  .btn:active {
    transform: scale(0.98);
  }

  .btn-block {
    display: block;
    width: 100%;
  }

  body {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
  }
